#individual-comment{
    margin-top: 30px;
    width: fit-content;
    margin-bottom: 30px;
    height: 50px
}

.comment-username{
    font-weight: 500;
    margin-right: 8px;
    font-size: 12px
}

.posted-time{
    font-size: 12px;
    color: gray
}

.comment-content{
    font-size: 13px;
    margin-top: 5px;
    width: 60vw;
    height: 15px;
    word-break:break-all;
    white-space: pre-line;

}

#edit-delete-comment-icon{
    position: relative;
}
