#single-video-page-outer-container{
    margin: 2% 8% 0 8%;
    display: flex;
    position: relative;
}

.video-comment-container{
    width:100%;
    margin-right: 20px;
    position: relative

}

.player-wrapper {
    position: relative;
 
}
  
.react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

#side-videos{
    width: 20%
}

#player-container{
   position: absolute;
   width: 100%
}

#single-video-player{
    position: absolute;
    width: 100%;
}

.video-description-component{
    position:absolute;
    width: 95%
}

#video-title{
    font-weight: bold;
    font-size: 20px;
    word-break:break-all;
}

.video-uploader-info{
    margin-top: 10px;
    margin-bottom: 10px;
   
}

#video-description{
    background-color:rgb(229,229,229);
    border-radius: 20px;
    word-break:break-all;
    padding: 10px;
    margin-bottom: 40px;
}

#num-comments{
    margin-bottom: 20px
}

#comment-container{
    width:fit-content;
    height: 60px
}

.video-like-dislike-section{
    width: 150px;
    height: 40px;
    background-color: rgb(242,242,242);    
    border-radius: 30px;
    cursor: pointer;
}

.video-uploader-name-subscribers{
    margin-left: 10px
}

.video-uploader-name{
    font-size: 20px;
    font-weight: 400
}
.number-of-subscribers{
    color:grey;
    font-size:13px;
}

.subscribe-unsubscribe-buttons{
    margin-left: 30px
}

.subscribe-button{
    width: 95px;
    height: 40px;
    outline: none;
    border:none;
    background-color: black;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor:pointer;
    padding: 10px 15px;
}

.unsubscribe-button{
    width: 110px;
    height: 40px;
    outline: none;
    border:none;
    background-color: rgba(236,236,236);
    border-radius: 20px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    cursor:pointer;
    padding: 10px 15px;
}
