/* TODO Add site wide styles */
* {
    font-family: 'Roboto';
}

body{
    margin: 0px;
    padding-bottom: 40px
}
a{
    color:black;
    text-decoration: none;

}
.flx-row-space-btw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center
}
.flx-col {
    display: flex;
    flex-direction: column;
}
.pos-rel{
    position: relative;
}

.pos-abs {
    position: absolute;
}
.flx-col-justify-ctr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.flx-col-justify-align-ctr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flx-row-justify-align-ctr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flx-row-wrap{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: flex-start
}

.flx-row-start{
    display:flex;
    flex-direction:row;
    align-items: flex-start 
}
.profile-icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border:none;
    cursor:pointer
}
.gray-bg {
    background-color: #757e8a;
}

.purple-bg {
    background-color: #5865f2;
}

.red-bg {
    background-color: #ed4245;
}

.yellow-bg {
    background-color: #faa61a;
}

.green-bg {
    background-color: #3ba55c;
}

.blue-bg{
    background-color: rgb(116, 116, 185);
}
.display-none{
    display: none
}

#home-log{
    background-color: white;
}

.ctr-algn-text {
    text-align: center;
}

.pos-rel{
    position: relative;
}

.pos-abs {
    position: absolute;
}

.justify-space-btw {
    display: flex;
    justify-content: space-between;
}

.flx-row-space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flx-row-space-around{ 
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.flx-row {
    display: flex;
    flex-direction: row;
}

.flx-col-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flx-row-end{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}