/* TODO Add site wide styles */
* {
    font-family: 'Roboto';
    text-decoration: none;
    color: black
}

.flx-row-space-btw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pos-rel{
    position: relative;
}

.pos-abs {
    position: absolute;
}

.flx-col-justify-align-ctr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flx-row-justify-align-ctr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gray-bg {
    background-color: #757e8a;
}

.purple-bg {
    background-color: #5865f2;
}

.red-bg {
    background-color: #ed4245;
}

.yellow-bg {
    background-color: #faa61a;
}

.green-bg {
    background-color: #3ba55c;
}

.display-none{
    display: none
}

#home-log{
    background-color: white;
}