.post-comment-form-container{
    width: 100%;
    margin-bottom: 30px
}

.comment-input{
  border:none;
  outline:none;
  width: 100%;
  height: 28px;
  border-bottom: 1px solid grey ;

}

.comment-input:focus{
  border-bottom: 2px solid black
}

.comment-maker-icon{
    margin-right: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.comment-input-container{

    width: 61vw;
    height: 100%;

}

.comment-buttons-container{
    margin-top: 15px;

    gap: 15px;

    width: 100%;


}

#cancel-button{
    width: 70px;
    height: 40px;
    margin-right:20px;
    border:none;
    font-weight: 500;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:white;
    cursor: pointer;
}

#cancel-button:hover{
    background-color: rgb(229, 229, 229)
}

#submit-button:disabled{
    width: 80px;
    height: 40px;
    border:none;
    font-weight: 500;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgb(242, 242, 242);

}

#submit-button:enabled{
    background-color: rgb(6, 9, 212);
    width: 80px;
    height: 40px;
    border:none;
    font-weight: 500;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    cursor: pointer;
}

.create-comment-container{
    margin-top: 30px
}

#comment-error-messages{
    color: rgb(239, 66, 76);
    font-size: 12px;
}
#form-container{
    width: fit-content;
    height: fit-content
}

@media (min-width: 1325px) and (max-width: 1659px){
    .comment-input-container{
        width: 62vw
    }
}

@media(min-width: 1660px) and (max-width: 2500px) {
    .comment-input-container{
        width: 63vw
    }
}