#login-container{
    position:relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

#login-box{
   
    width: 450px;
    height: auto;
    border-radius: 5px;
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
    border: 1px solid rgb(219,220,224);
    padding: 20px

}

#inner-container{
    width: 400px;
    height: 600px
}
#welcome{
    font-size: 20px;
    font-weight:bolder;
    color: var(--off-white-text);
    margin-top:20px;
    margin-bottom: 10px

}
.login-input{
    outline:none;
    appearance:none;
    padding: 12px;
    border-radius: 3px;
    width: 95%;
    font-size: 16px;
    margin-bottom: 10px;
    border-color: rgb(219,220,224);
    margin-bottom: 20px
    
}

#sign-in{
    margin: 15px;
    font-size: 30px
}

#under-sign-in{
    font-size: 20px;
    margin-bottom: 50px;

}

#error-messages{
    color: rgb(239, 66, 76);
    font-size: 12px;
    margin-bottom: 20px
}
.custom-field{
    position: relative;
    font-size: 16px;
    padding-top: 20px;
    margin-bottom:5px;
}

.custom-field input{
    border: 2px solid #ddd;
    transition:border-color 0.3s ease;
}

.custom-field .placeholder{
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #aaa;

    transition:
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;

}

.custom-field .login-input + .placeholder{
    padding: 0 5px;
}
.custom-field input:valid + .placeholder,
.custom-field input:focus +  .placeholder{
    top: 10px;
    font-size: 12px;
    color: rgb(74,118,228);
    background-color: #fff;
    
}

.login-input:focus{
    border: 1px solid rgb(74,118,228);
}

#create-account{
    margin-top: 60px
}
#linktosignup{
   text-decoration: none;
   color: rgb(74,118,228);
}
#signup-meessage-button{
    border: none;
    color: rgb(74,118,228);
    cursor: pointer;
    background-color: white;
    outline:none;
    font-weight: 500;
    font-size: 18px;
    padding: 15px
    
}
#signup-meessage-button:hover{
    background-color: rgb(248, 250, 254); 
}


#login-button{
    outline: none;
    border:none;
    background-color: rgb(74,118,228);
 
    color: white;
    cursor:pointer;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px
}

#or-message{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px
}

#demo-user{
    outline: none;
    border:none;
    background-color: rgb(74,118,228);
 
    color: white;
    cursor:pointer;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    margin-left: 110px
}