#signup-container{
    position:relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px

}

#signup-box{
   
    width: 550px;
    height: auto;
    border-radius: 5px;
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
    border: 1px solid rgb(219,220,224);
    padding: 40px;

}

#create-an-account{
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 25px
}

#signup-form{
    width: 85%
}
.signup-input{
    outline:none;
    appearance:none;
    padding: 12px;
    border-radius: 3px;
    height: 15px;
    font-size: 16px;
    margin-bottom: 15px;
    border-color: rgb(219,220,224);
    
}
.email-username-sign-up-input{
    width: 94%
}
.custom-field{
    position: relative;
    font-size: 16px;
    padding-top: 20px;
    margin-bottom:5px;
}

.custom-field input{
    border: 2px solid #ddd;
    transition:border-color 0.3s ease;
}

.custom-field .placeholder{
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #aaa;

    transition:
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;

}

.custom-field .signup-input + .placeholder{
    padding: 0 5px;
}
.custom-field input:valid + .placeholder,
.custom-field input:focus +  .placeholder{
    top: 10px;
    font-size: 12px;
    color: rgb(74,118,228);
    background-color: #fff;
    
}

.signup-input:focus{
    border: 1px solid rgb(74,118,228);
}


#signup-page-buttons{
    margin-top: 50px
}

#linktologin{
    text-decoration: none;
    color: rgb(74,118,228);
}
#login-link-button{
    border: none;
    color: rgb(74,118,228);
    cursor: pointer;
    background-color: white;
    outline:none;
    font-weight: 500;
    font-size: 18px;
    padding: 15px
}

#login-link-button:hover{
    background-color: rgb(248, 250, 254); 
}

#signup-button{
    outline: none;
    border:none;
    background-color: rgb(74,118,228);
 
    color: white;
    cursor:pointer;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px
}

#signup-button:hover{
    background-color: rgb(67, 104, 198);
}
