.player-wrapper {
    position: relative;
    padding-top: 56.25% 
  }
  
.react-player {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
  }

.video-card-profile-icon{
  width: 30px;
  height: 30px;
}

.video-time{
  margin-left: 10px
}

.icon-title-time {
  margin-top: 10px
}

.video-title{
  font-size: 15px;
  font-weight:500;
  word-break:break-all;
}

.posted-time{
  font-size: 12px;
  color: gray
}

