.channelpage-container{
    margin: 2% 8% 0 8%
}

.channel-profile-icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:none;
    cursor:pointer;
    font-size: 30px;
    margin-right: 20px
}

.channel-user-name{
    font-size: 25px
}

.channel-username{
    color: rgb(96, 96, 101);
    font-size: 15px
}

.upload-section{
 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    gap: 50px;
    width: 100%;
    height: 100%
}

.channel-tabs-container{
    height: 44px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(229,229,229)
}

.single-tab{
    outline: none;
    border:none;
    background-color: white;
    width: 100px;
    color: rgb(96,96,96);
    cursor:pointer;
    font-weight: 500;
    font-size: 18px;

    padding: 10px;
    margin-right: 50px;
    margin-bottom:20px
}

