#upload-video{
    background-color: white;
    height: 40px;
    width: auto;
    cursor: pointer;
    
}

#upload-video-button{
    border:none;
    background-color: white;
}

#form-container{
    background-color: white;
}