#upload-video{
    background-color: white;
    height: 40px;
    width: auto;
    cursor: pointer;
}

#upload-video-button{
    border:none;
    background-color: white;
    margin-right: 29px
}

#form-container{
    background-color: white;
    width: 400px;
    padding-top: 10px;
    
    border-radius: 15px;
  
}

#modal{
    z-index: 50
}

#form-header{
    font-size: 20px;
    border-bottom: 1px solid grey;
    padding: 20px
}

ul{
    padding-top: 10px
}
li{
    color: rgb(239, 66, 76);
    padding-top: 5px
}

#form-body{
    padding: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

#dropContainer {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: rgb(222, 64, 64);
    cursor: pointer;
    background: #fff;
  }
  
  #dropContainer:hover {
    background: #fff;
    border-color: #111;
  }
  
  #dropContainer:hover .drop-title {
    color: #222;
    background: #fff;

  }
  
  .drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }

  input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #0d45a5;
  }

  .title-description-input{
    outline:none;
    appearance:none;
    padding: 12px;
    border-radius: 3px;
    width: 95%;
    font-size: 16px;
    margin-bottom: 10px;
    border-color: rgb(219,220,224);
    margin-bottom: 20px
  }

 #video-file-input-area{
   margin-left: 80px
 }

 #picture-file-input-area{
  margin-left: 90px
 }

 .file-container{
  margin-bottom: 20px
 }

.submit-button:disabled{
  width: 80px;
  height: 40px;
  border:none;
  font-weight: 500;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color:rgb(242, 242, 242);

}

.submit-button:enabled{
  background-color: rgb(6, 9, 212);
  width: 80px;
  height: 40px;
  border:none;
  font-weight: 500;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  cursor: pointer;
}