#nav-container{
    min-width: 1024px;
    width: 100%;
    flex-grow: 1;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px
   
}

#inner-nav-container{
    width: 95%
}
#home-logo{
    height: 40px;
    width: auto
}

/* #nav-link{
    font-size: 20px;
    color: black;

    text-decoration: none;
} */

#wetube-name{
    font-size: 20px;
    color: black;
    font-weight: bolder;
}

